.offer {
    .container {
        padding: 80px 0;
        @media (max-width: 990px) {
            padding: 60px 0;
        }
    }
    .offer-box-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
        text-align: center;
        @media (max-width: 990px) {
            margin-bottom: 40px;
        }
        .preview {
            margin-bottom: 30px;
        }
        .text-sm {
            opacity: .8;
        }
        .text-sm:last-child {
            font-style: italic;
            line-height: 1.7143;
        }
        .text-sm,.title-sm {
            color: #333;
        }
    }
}

.offer-wrap {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 35px;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
    }
    video {
        width: 100%;
        height: 100%;
    }
    .offer-box-sm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 30px;
        &:hover {
            i {
                color: #9cc8d8;
            }
        }
    }
    .offer-box-sm:last-child {
        margin: 0;
    }
    i {
        margin-bottom: 10px;
        font-size: 30px;
        transition: .3s;
    }
    .offer-title {
        color: #333;
        margin-bottom: 5px;
        font: 600 1rem 'Open Sans', sans-serif;
    }
}