.slider-div {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
    @media (max-width: 990px) {
        height: 500px;
    }
}

.main-slider-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-slider {
    margin-bottom: -30px;
    .slick-dots {
        bottom:30px;
    }
    .slider-title {
        margin-bottom: 20px;
        font: bold 2.2rem 'Open Sans', sans-serif;
        color: #fff;
        text-align: center;
        @media (max-width: 990px) {
            font-size: 1.5rem;
        }
    }
    .text-simple {
        font: normal 1.25rem 'Open Sans', sans-serif;
        color: #fff;
        margin-bottom: 40px;
        @media (max-width: 990px) {
            font-size: 1rem;
            margin-bottom: 25px;
        }
    }
    .slick-dots {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        top: 40%;
        right: 30px;
        @media (max-width: 990px) {
            flex-direction: row;
            top: 90%;
            align-items: center;
            right: auto;
            justify-content: center;
        }
    }
    .slick-dots li button:before {
        font-size: 50px;
        color: #fff;
        border-radius: 50%;
    }
    .slick-dots li {
        margin: 5px 0;
        @media (max-width: 990px) {
            margin: 0 5px;
        }
    }
    .slick-dots li.slick-active button:before {
        opacity: 1;
        color: #fff;
    }
}