.technology {
    background: url(../img/technology/technology-bg.png) no-repeat center center fixed;
    .container {
        padding: 80px 0;
        @media (max-width: 990px) {
            padding: 60px 0;
        }
    }
    .technology-box-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
        @media (max-width: 990px) {
            margin-bottom: 40px;
        }
        .title-sm {
            margin-bottom: 15px;
        }
        .text-sm,.title-sm {
            color: #fff;
            text-align: center;
        }
    }
}

.technology-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
    }
    i {
        font-size: 40px;
        margin-bottom: 20px;
        transition: .3s;
    }
    .technology-title {
        color: #333;
        font: 600 1.2rem 'Open Sans', sans-serif;
        margin-bottom: 40px;
        position: relative;
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 40px;
            height: 2px;
            left: 50%;
            bottom: -15px;
            margin-left: -20px;
            background-color: #333333;
        }
    }
    .technology-box {
        background: #fff;
        padding: 60px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        @media (max-width: 990px) {
            padding: 40px 15px;
        }
        &:hover {
            i {
                color: #9cc8d8;
            }
        }
    }
    .text-sm {
        margin-bottom: 40px;
    }
}